<html>
<head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

google.load("visualization", "1", {packages:["corechart"]});

function get_type(thing){
  if(thing===null)return "[object Null]"; // special case
  return Object.prototype.toString.call(thing);
}
      




$(document).ready(function(){
    var markets = []
    //drawChart();
    $("#add_chart").submit(function(event){
      event.preventDefault()
      market = $("#market").val()
      pair = $("#pair").val()
      step = $("#step").val()
      display_periods = $("#display_periods").val()
      url = "http://localhost:8000/charts/" + market + "/" + pair + "/" + step
      if(display_periods != 0) {
        url  = url + "?display_periods=" + display_periods
      }

      $.getJSON( url, function( data ){
        
        //strange... the ma array is an array now but if we don't process it now it will revert to a string
        //this magic fucking string is an invalid json string to boot. wtf?
        //alert(get_type(data['ma']))
        
        chartdata = google.visualization.arrayToDataTable(data['ma'])
        asset_data = data['asset_data']

        var options = {

          title: asset_data['market'] + " " + asset_data['pair'] + " " + asset_data['period'],
          series: {
            0:{color:"green"},
            1:{color:"red"},
            2:{color:"gold"},
            3:{color:"blue"},
            4:{color:"purple"}
          }
        }
        id = asset_data['market'] + " " + asset_data['pair'] + "" + Math.random().toString(36).substring(7);
        $("#charts").append("<div id='" + id + "' style='width: 900px; height: 500px;'></div><div id='" + id + "info' style='margin-left:125px'>volatility: " + asset_data['volatility']+ "&#37; <br> average low/high change: " + asset_data['average_lhp_diff'] + "&#37; <br></div>")
        var asset_chart = new google.visualization.LineChart(document.getElementById(id));
        asset_chart.draw(chartdata, options);

        //drawChart(market, pair, step, cd, data['asset_data'])
      })
    })

})
    </script>
</head>
<body>
<form id="add_chart">
<input type="text" id="market" />
<input type="text" id="pair" />
<select id="step">
  <option value="1min">1min</option>
  <option value="5min">5min</option>
  <option value="15min">15min</option>
  <option value="30min">30min</option>
  <option value="1hr">1hr</option>
  <option value="1d">1d</option>
</select>
<input type="text" id="display_periods" value="0" />
<input type="submit" id="submit" value="Add Chart" />
</form>

<div id="charts">
</div>
</body>
</html>

