<html>
<head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

google.load("visualization", "1", {packages:["corechart"]});

function get_type(thing){
  if(thing===null)return "[object Null]"; // special case
  return Object.prototype.toString.call(thing);
}

//["Date", "Price High", "Price Low", "12 MA", "Detrend 12ma", "Detrend 12ma OP"]
var charts = {

  display_options: {
    detrend:{
      0 : {"name": "Price High", "color":"#008A00"},
      1 : {"name": "Price Low", "color":"#FF0000"},
      2 : {"name": "12 MA", "color":"#E6E616"},
      3 : {"name": "Detrend 12ma", "color":"#003399"},
      4 : {"name": "Detrend 12ma OP", "color":"#6600CC"}
    },
    candelstick: {},
  },

  buildOptions:function() {
    chart_type = $("#chart_type").val()
    options = charts.display_options[chart_type]
    ret = ""
    $.each(options,function(k,v){

      ret += "<input type='checkbox' class='display_option' id='option_" + k + "' checked />" + v["name"]
      ret += "<input type='color' id='option_" + k + "_color' value='" + v['color'] + "' />"
    })

    $("#display_options").html(ret)

  },

  getOptions:function() {
    checked = $("input.display_option:checked")
    options = {}
    chart_type = $("#chart_type").val();

    $.each(checked, function(k,v) {
      index = v.id.split("_")[1]
      options[index] = charts.display_options[chart_type][index]
      options[index]['color'] = $("#" + v.id + "_color").val()
      console.log(options[index])
    })
    return options

  },

  candelstick:function(data) {

    asset_data = data['asset_display_data']
    cd = []
    $.each(data['chartdata'], function(k,v){
      cd.push([v[0],Number(v[1]), Number(v[2]), Number(v[3]), Number(v[4])])
    })
    chartdata = google.visualization.arrayToDataTable(cd,true)

    
    id = asset_data['market'] + " " + asset_data['pair'] + "" + Math.random().toString(36).substring(7);
    $("#charts").append("<div id='" + id + "' style='width: 100%; height: 500px;'></div><div id='" + id + "info' style='margin-left:125px'>volatility: " + asset_data['volatility']+ "&#37; <br> average low/high change: " + asset_data['average_lhp_diff'] + "&#37; <br></div>")

    var options = {
      title: asset_data['market'] + " " + asset_data['pair'] + " " + asset_data['period'],
      legend:'none',
    };

    chart = new google.visualization.CandlestickChart(document.getElementById(id));
    chart.draw(chartdata, options);


  },
  detrend:function( data ){
    //strange... the ma array is an array now but if we don't process it now it will revert to a string
    //this magic fucking string is an invalid json string to boot. wtf?
    //alert(get_type(data['ma']))
        
    //chartdata = google.visualization.arrayToDataTable(data['chartdata'])
    asset_data = data['asset_display_data']
    custom_options = charts.getOptions()
    display_data = []
    header = ["Date"]
    display_series = {}

    display_units = [0]
    $.each(custom_options, function(k,v){
      display_units.push(Number(k)+1)
      header.push(v["name"])
      display_series[Number(k)] = {'color':v['color']}
    })

    //console.log(header)

    display_data.push(header)
    num = 0

    $.each(data['chartdata'], function(k,v) {
      ret = []
      if(num != 0) {
        //console.log(v)
        $.each(display_units, function(key, value) {
          //console.log("value: " + value)
          ret.push(v[Number(value)])
        })
        //console.log(ret)
        display_data.push(ret)
      }
      num += 1
    })
    chartdata = google.visualization.arrayToDataTable(display_data)

    /*
    var options = {
      title: asset_data['market'] + " " + asset_data['pair'] + " " + asset_data['period'],
      series: {
        0:{color:"green"},
        1:{color:"red"},
        2:{color:"gold"},
        3:{color:"blue"},
        4:{color:"purple"}
      }
    }*/

    var options = {
      title: asset_data['market'] + " " + asset_data['pair'] + " " + asset_data['period'],
      series: display_series,
    }
    id = asset_data['market'] + " " + asset_data['pair'] + "" + Math.random().toString(36).substring(7);
    $("#charts").append("<div id='" + id + "' style='width: 100%; height: 500px;'></div><div id='" + id + "info' style='margin-left:125px'>volatility: " + asset_data['volatility']+ "&#37; <br> average low/high change: " + asset_data['average_lhp_diff'] + "&#37; <br></div>")

        //add delete link
    var asset_chart = new google.visualization.LineChart(document.getElementById(id));
    asset_chart.draw(chartdata, options);

        //drawChart(market, pair, step, cd, data['asset_data'])
  }
}
      




$(document).ready(function(){
    var markets = []
    //drawChart();

    $("#clear").click(function(event){
      event.preventDefault();

      $("#charts").empty();

    });

    charts.buildOptions();

    $("#chart_type").change(function(event){
      charts.buildOptions();
    })
    $("#add_chart").submit(function(event){
      event.preventDefault()
      c = {"detrend":charts.detrend, "candelstick":charts.candelstick}
      chart_type = $("#chart_type").val()
      market = $("#market").val()
      pair = $("#pair").val()
      step = $("#step").val()
      display_periods = $("#display_periods").val()
      url = "{% url 'charts' %}" + chart_type + "/" + market + "/" + pair + "/" + step
      if(display_periods != 0) {
        url  = url + "?display_periods=" + display_periods
      }
      //alert(chart_type);
      //alert(charts['' + chart_type + ''])
      callback = c[chart_type]
      $.getJSON(url, callback);
      /*
      $.getJSON( url, function( data ){
        
        chartdata = google.visualization.arrayToDataTable(data['ma'])
        asset_data = data['asset_data']

        var options = {

          title: asset_data['market'] + " " + asset_data['pair'] + " " + asset_data['period'],
          series: {
            0:{color:"green"},
            1:{color:"red"},
            2:{color:"gold"},
            3:{color:"blue"},
            4:{color:"purple"}
          }
        }
        id = asset_data['market'] + " " + asset_data['pair'] + "" + Math.random().toString(36).substring(7);
        $("#charts").append("<div id='" + id + "' style='width: 900px; height: 500px;'></div><div id='" + id + "info' style='margin-left:125px'>volatility: " + asset_data['volatility']+ "&#37; <br> average low/high change: " + asset_data['average_lhp_diff'] + "&#37; <br></div>")

        //add delete link
        var asset_chart = new google.visualization.LineChart(document.getElementById(id));
        asset_chart.draw(chartdata, options);

        //drawChart(market, pair, step, cd, data['asset_data'])
      })*/
    })

})
    </script>
</head>
<body>
<form id="add_chart">
Chart<select id="chart_type">
  <option value="detrend" selected>Detrend</option>
  <option value="candelstick">CandelStick</option>
</select>
Market: <input type="text" id="market" />
Pair: <input type="text" id="pair" />
Time Frame<select id="step">
  <option value="1min">1min</option>
  <option value="5min">5min</option>
  <option value="15min">15min</option>
  <option value="30min">30min</option>
  <option value="1hr">1hr</option>
  <option value="1d">1d</option>
</select>
Display Periods<input type="text" id="display_periods" value="0" />
<input type="submit" id="submit" value="Add Chart" /> 
<button id="clear">Clear Charts</button><br>

Display Options:
<div id="display_options"></div>
</form>

<div id="charts">
</div>
</body>
</html>

